/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/styles/home.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.home_mainContainer___Kg2W {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
}

.home_walletSection__pud5k {
  display: flex;
  /* stretches the sections out */
  /* width: 100%; */
  gap: 50px;
}

.home_walletComponent__4e1vC,
.home_connectionDetails__cknZs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 80px;
  gap: 25px;
}

.home_centered__oRTgh {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

